<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.community.mapper.TeacherMapper">
    <insert id="importTeacherInfo" parameterType="List">
        insert into tb_teacher (teaUUID, password, teaName, telephone)
        values 
        <foreach collection="teachers" item="teacher" separator=",">
            (#{teacher.teaUUID}, #{teacher.password}, #{teacher.teaName}, #{teacher.telephone})
        </foreach>
    </insert>

    <update id="updateTeacher" parameterType="Teacher">
        update tb_teacher
        set teaName = #{teaName},
            telephone = #{telephone}
        where teaUUID = #{teaUUID}
    </update>

    <select id="getTeacherByTeaName" parameterType="String" resultType="Map">
        select
          teaUUID,
          teaName
        from tb_teacher
        where teaName like concat('%',#{teaName},'%')
    </select>

    <select id="getTeacherByTeaUUID" parameterType="String" resultType="Teacher">
        select
        teaUUID,
        teaName,
        telephone
        from tb_teacher
        where teaUUID = #{teaUUID}
    </select>
</mapper>