<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.community.mapper.ClassScheduleMapper">
    <select id="getClassScheduleByClassUUID" parameterType="String" resultType="ClassSchedule">
        select scheduleUUID, classUUID, classSchedule
        from tb_class_schedule
    </select>
</mapper>