<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.community.mapper.IndustryMapper">
    <!--
    mapper:IndustryMapper
    author:xyy
    -->
    <select id="queryIndustry" resultType="Industry">
        select
        industryID,
        industry
        from tb_industry
    </select>

    <select id="queryIndustryLikeIndustry" resultType="Industry" parameterType="String">
        select
        industryID,
        industry
        from tb_industry where industry like concat(concat('%',#{industry}),'%')
    </select>


</mapper>